.carousel {
  max-width: 600px;
  position: relative;
}

.carousel .carousel-item {
  display: none;
}

.carousel .carousel-item-visible {
  display: block;
}
.carousel .carousel-item img {
  width: 100%;
  max-width: 600px;
}

.carousel .carousel-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel-actions button {
  border-radius: 50px;
  background-color: white;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

#carousel-button-prev {
  color: blue;
}
